html
	head
		title Tiled
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', type='text/css', href='/css/game-styles.css')
	body
		div
			#sidebar
				h4#players-list-title
					| Players
				#players-list
					#players-list-item-template.players-list-item
						.player-name
							| PlayerName
						.player-color
			#canvas-wrapper
				canvas#canvas(width='100px', height='100px')

script(src="https://code.createjs.com/createjs-2015.11.26.combined.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.1/require.min.js" data-main="/js/game/app.js")
