link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet" href="/css/room-page.css")

.form-wrapper
	b
		.title.centered Create a room
	input.centered(type = "number" id="rows" value="Rows" onfocus="if (this.value == 'Enter username..') this.value=''" onkeypress='return event.charCode >= 48 && event.charCode <= 57')
	input.centered(type = "number" id="cols" value="Columns" onfocus="if (this.value == 'Enter username..') this.value=''" onkeypress='return event.charCode >= 48 && event.charCode <= 57')
	input.centered(type="text" id="name" value="Room name (optional)" onfocus="if (this.value == 'Enter username..') this.value=''")
	input.centered(type = "button" value = "Create" id="submit")
	a#url.centered(style="display:none") Start playing!



script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.1/require.min.js" data-main="/js/room/app.js")
