link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")


div
	| Rows:
	br
	input(type = "number" id="rows")
	br
	| Columns:
	br
	input(type = "number" id="cols")
	br
	| Name:
	br
	input(type="text", id="name")
	br
	br
	input(type = "button" value = "Turn" id="submit")

a#url



script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.1/require.min.js" data-main="/js/room/app.js")
